

*{margin:0;padding:0;}
html, body {font-family:Myriad Pro;font-size:12px;}
p{margin:5px 0;}
h1, h2, h3, h4, h5{font-size:115%;font-family:"Myriad Pro", Myriad Pro, serif;}
h1{font-size:120%;color:#000000;}
h2{font-size:120%;color:#5C5C5C;}
h3{font-size:120%;color:#880021;}
a{outline:none;}
a:link {color:#0000CC;}
a:hover {color:#FFCC00;}
a:visited {color:#6699CC;}




.alertText{
	font-size: 100%;
	font-weight: normal;
	color: #FF0000;
}
#bcNavBar{
	padding: 10px 0 0 10px; 
	font-size:10px;
}
.btn1, .btn1:link, .btn1:active, .btn1:visited {
	text-transform:uppercase;
	padding:0px 15px;
	margin:0px 20px 0px 0px;
	float:left;
	background-color:#E6E9EA;
	color:#000099;
	font-size:80%;
	font-weight:bold;
	text-align:center;
	text-decoration: none;
	border:#000099 1px solid;
	-webkit-box-shadow:#B2B2A7 0px 1px 1px;
	-moz-box-shadow:#83817A 0px 1px 1px;
	-webkit-border-radius:6px;
	-moz-border-radius:6px;	
}

.btn1:hover{
	color:#FFF;
	background-color:#000099;
	cursor:pointer;
}
.caption{font-size:90%}
.clearBoth{clear:both;}
.contentBlock {
	margin:  20px 30px 10px 30px;
}
#contentBtn{
	padding: 5px;
}
#contentHeader{
	font-size: 115%;
	font-weight: bold;
	color: #880021;
	padding-bottom:5px;
}
#contentBody{
	margin: 20px 0 0 0;
}
#contentBody ul{margin:5px 30px;}

.contentTitleSub{
	font-family:"Times New Roman", Times, serif;
	padding:0 0 10px 0;
	font-size: 80%;
	font-weight: bold;
	color: #880021;
}

.col1Block {
	margin:  10px 10px 20px 5px;
}
.col2Block {
	margin:  20px 30px 10px 30px;
}
.col3Block {
	margin:  10px 10px 0px 10px;
}
.detailsHeader {
	color: #999999;
}
.DataListBlock {
	margin: 0em .5em 0 .5em ;
	padding:0;
}
.DataListItem{
	padding: 0em .5em 0 .5em ;
}

#formItm{
	text-align:right;
	padding-right:10px;
	font-size:90%;
	color:#666666;
}
#formItmRequired{
	text-align:right;
	padding-right:10px;
	color:#990000;
}
#formBtns{
	padding-top:10px;
}
.formRequired {
	color:#880021;
}
.header {
	font-size: 115%;
	font-weight: bold;
	color: #880021;
	}
.headerRev {
	font-size: 120%;
	font-weight: bold;
	color: #FFFFFF;
}
.ImageFloatLeft{
	float:left; 
	clear:left;
	padding:0 10px 1px 0;
}
.ImageFloatRight{
	float:right; 
	padding:1px 0px 1px 10px;
}

.NewsBox {
	margin: .5em .5em 0 .5em ;
	background-color: ##00FF00;
}
.moduleContainer{
	clear:both;
	margin:40px 0 0 0;
	padding:0 0 5px 0;
	border-bottom:#990000 2px solid;
}
.moreDetails {
	color: #666666;
	font-size: 9px;
	font-weight: bold;
	padding-top:5px;
	display:inline;
}
.msgError {
	color: #990000;
	font-weight: bold;
	margin:10px 0 20px 0;
	padding:5px;
	display:block;
	background-color: #FFFFCC;
	width: 100%;
	border: thin solid #990000;
}	
.NewsBoxText {
	color: #FFFFFF;
	padding: 0px;
	font-size: 90%;
}
.NewsBoxText a {
	text-decoration: none;
}
.NewsBox {
	color: #FFFFFF;
	font-weight: bold;
	text-decoration: none;	
}
#pgBlock {
	position: absolute;
	height: auto;
	top: 128px;
	width:100%;
}
.photosPreview{
	float:left;
	margin:0 10px 20px 0;
	padding-bottom:2px;
	text-align:center;
	border:1px #CCC solid;
	background-color:#FFF;
}
#section{
	margin:20px 0 0 30px;
	height:auto;
	clear:both;
}
.sectionImage{
	float:left;
	margin:0 10px 0 0;
	margin-left:-30px;
}
.sectionTitle{
	font-family:"Times New Roman", Times, serif;
	font-size: 130%;
	font-weight: bold;
	color: #7E8C73;
}
.sectionBody{
	font-size: 100%;
	color: #666666;	
}
.subMenuBlock {
	margin:  10px 10px 0px 5px;
	color: #F3F3F3;
	text-align:left;
	font-size:11px;
	line-height:14px;
	padding: 0 10px 0 10px;
}


.tableList{
	margin:10px 0 0 0;
}
.tableListHeader td{
	text-align:left;
	border-bottom:2px solid #80001A;
	background-color:#FFF;
	line-height:10px;
	text-transform:uppercase;
}
.tableListHeader th{
	text-align:left;
	border-bottom:2px solid #80001A;
	background-color:#FFF;
	line-height:10px;
	text-transform:uppercase;
}
.tableListHeader a{
	font-size:70%;
	font-weight: bold;
	text-decoration:none;
	color:#80001A;
	text-align:left;
}
.tableListRow td{
	background-color:#FAFAFA;
	border-bottom:1px solid #D9D9D9;
	padding:3px 20px 3px 0;
	text-align:left;
}
.tableListRowAlternate td{
	background-color:#EBEBEB;
	border-bottom:1px solid #D9D9D9;
	padding:3px 20px 3px 0;
}
.textBold {
	font-weight: bold;
}
.textBoldAlert {
	font-size: 100%;
	font-weight: bold;
	color: #FF0000;
}
.textHighlight{
	color: #FF0000;
}
.textItalic{
	font-style:italic
}
.textSmall {
	color: #333333;
	font-size:90%;
}
.textBorder {
	/*creates a border around div*/
	margin:10px 0 10px 0;
	border:medium #990000 solid; 
	padding:5px;
	background-color:#F3F3F3;
}
