body {
    background: url(/images/bg.png) no-repeat;
}

#container {
    position: absolute;
    top: 55px;
    left: 105px;

}

#leaderboard {
    border: 3px rgb(0, 64, 128) solid;
    height : 250px;
    overflow: auto;

}

select{
    width: 70px;
}
#left {
    position: absolute;
    width: 320px;
    top: 60px;
    left: 90px;
    text-align: center;
    font: georgia;
}

#right {

    font: 12px myriad pro;
    position: absolute;
    left: 550px;
    top:50px;
    width: 400px;
}
#fund{
    color: #dc143c;
}
#project{
    color: #8a2be2;

}
#title {

    vertical-align: middle;
    font-size: 36px;
    text-align: center;
}

#recipient {

    font: 18px georgia;
    border: 3px #008000 solid;
    text-align: center;
    color: rgb(0, 128, 128);

}

#content {
    position: absolute;
    top: 460px;
    left: 450px;
    width: 100px;
    height: 100px;
}

#info {
    position: absolute;
    top:10px;
    left:100px;
}


#content-2 {
    position: absolute;
    top: 220px;
    left: 900px;
    width: 100px;
    height: 100px;
}