<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>

<%= javascript_include_tag "chat" %>
<%= javascript_include_tag "jquery.cloudmine" %>

<textarea id="chat" cols="60" rows="20"></textarea>
<p>Name: <input type="text" id="name"/> Message: <input type="text" id="message"/></p>

